<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Projected Finances of the German Federal Government</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js"></script>
    <style>
      header, h2, h4, h6 {margin: 0; padding: 0; text-align: center; font-family: Avenir Book;}
      .chart {margin: 0 auto; display:block; text-align: left; width: 800px;}
    </style>
</head>
<body>
<header>
  <h2>Projected Finances of the German Federal Government</h2>
  <p>This is a sample dashboard website to present my estimates for German federal government tax revenues in 2020.</p>
</header>
<br>
<br>
<h4 class="chart">Summary of {{current_year}} Estimated Revenue:</h4>
<div class="chart" id="table1">
      <object align="middle">
        <script>
          var graphs = {{plot | safe}};
          Plotly.plot('table1',graphs,{});
      </script>
    </object>
    </div>
    <br>
    <br>
<h4 class="chart">Summary of {{current_year+1}} Proposed Budget:</h4>
<div class="chart" id="table2">
      <script>
          var graphs2 = {{plot2 | safe}};
          Plotly.plot('table2',graphs2,{});
      </script>
    </div>
<br>
<br>
<h2>Select an option below to review more details</h2>
<br>
<br>
<div class="container">
  <div class="col-xs-3">
  <h6>Overall Summary by Year:</h6>
  <form action="/year_results" method="GET", id='year_cat'>
  <select class="form-control" name="Year", id='year_cat'>
      {% for i in range(0, year_len)%}
      <option value={{years[i]}}>{{years[i]}}</option>
      {% endfor %}
  </select>
  <input type="submit" value="Enter"></input>
</form>
</div>
</div>
<br>
<br>
<div class="container">
  <div class="col-xs-3">
  <h6>Trend Summary by Revenue Source:</h6>
  <form action="/tax_detail" method="GET", id='revenue_cat'>
  <select class="form-control" name="Tax", id='revenue_cat'>
      {% for i in range(0, rev_len)%}
      <option value="{{revenue_category_en[i]}}">{{revenue_category_en[i]}}</option>
      {% endfor %}
  </select>
  <input type="submit" value="Enter"></input>
</form>
</div>
</div>
<br>
<br>
<div class="container">
  <div class="col-xs-3">
  <h6>Trend Summary by Expense Category:</h6>
  <form action="/expense_detail" method="GET", id='expense_cat'>
  <select class="form-control" name="Expense", id='expense_cat'>
      {% for i in range(0, exp_len)%}
      <option value="{{expense_category_en[i]}}">{{expense_category_en[i]}}</option>
      {% endfor %}
  </select>
  <input type="submit" value="Enter"></input>
</form>
</div>
</div>

<script src="{{ url_for('static', filename='js/jquery-1.11.1.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/plots.js') }}"></script>

</body>
</html>
